
// page all font-family 
$regular            : "TT_Norms_Pro_Regular";

/* fonts starts */

@font-face {
    font-family: $regular;   
    src: url("fonts/TTNorms/TT_Norms_Pro_Regular.otf");
}

/* fonts ends */